<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>2795089756-0g3assoirfva21g18id267u7ik3lb4gq.apps.googleusercontent.com</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sefernur</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sefernur</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.2795089756-0g3assoirfva21g18id267u7ik3lb4gq</string>
				<string>com.eyexapp.sefernur</string>
				<string>app-1-2795089756-ios-62ae1b309c3f43c1cddb99</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Fotoğraf ve video çekebilmemiz için kameranıza erişim izni gerekiyor.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Size kesintisiz konum tabanlı hizmetler sunabilmek için uygulamanın ön planda ve arka planda konumunuza erişmesine izin vermelisiniz.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Size kesintisiz konum tabanlı hizmetler sunabilmek için uygulamanın konumunuza erişmesine izin vermelisiniz.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Size en uygun konum tabanlı hizmetleri sunmak için uygulamayı kullanırken konumunuza erişmemiz gerekiyor.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Video ve sesli mesaj kaydedebilmek için mikrofonunuza erişim izni gerekiyor.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Çektiğiniz içerikleri cihazınıza kaydedebilmemiz için fotoğraf arşivinize yazma izni gerekiyor.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Çektiğiniz içerikleri cihazınıza kaydedebilmemiz için fotoğraf arşivinize yazma izni gerekiyor.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
